<h3>Edit post</h3>

<%= render partial: "blog_posts/form", locals: {post: @blog_post} %>

<%= button_to "Delete post", @blog_post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button bg-red-500 hover:bg-red-700 font-bold text-white focus:outline-none py-2 px-4 rounded focus:shadow-outline w-full" if current_user == @blog_post.user %>