<% @blog_posts.each do |blog_post| %>
    <div class="flex items-center justify-between">
    <h2><%= link_to blog_post.title, blog_post %></h2>
     <span><%= I18n.l blog_post.created_at, format: :long %></span>
  </div>
<% end %>

<% if @pagy.count > @pagy.in %>
  <div class="my-16">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>